<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>RoPS Web Application</title>
</head>

<body>
    <div class="columns">
        <div class="column is-one-fifth has-text-centered">

            <div class="card">
                <div class="card-image">
                    <h1 class="title is-1">50</h1>
                    <!--SET CURRENT BPM HERE-->
                </div>
                <div class="card-content">
                    
                    <div class="content">
                        <input class="input" type="text" placeholder="Text input"> 
                        <buttom style="margin-top:5px" class="button is-warning is-fullwidth">Set BPM</buttom>
                        <buttom style="margin-top:5px" class="button is-success is-fullwidth">Start Game</buttom>
                    </div>
                </div>
            </div>


        </div>
        <div class="column has-text-centered">
            <div class="card">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Round</th>
                        <th>Who Won?</th>
                        <th>Robot's Move</th>
                        <th>Human's Move</th>
                        <th>Move Delay</th>
                        <th>Robot's Rhythm (in BPM)</th>
                        <th>Human's Rhythm (in BPM)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>1</th>
                        <td>Human</td>
                        <td>Rock</td>
                        <td>Paper</td>
                        <td>0.23</td>
                        <td>90</td>
                        <td>100</td>
                    </tr>
                    </tbody>
                  </table>
            </div>
            
        </div>
    </div>

</body>

</html>